<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cake Box</title>

    
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
    

  </head>
  <body>
    
    <header id="header" class="fixed-top">
      <div class="d-flex align-items-center">
        <h1 class="logo me-auto"><a href="{% url 'list_cakes' %}"></a>Cake Box</h1>

            <nav id="navbar" class="navbar order-last order-lg-0">
              <ul>
              <li><a class="active" href="{% url 'list_cakes' %}">Home</a></li>
              <li><a href="{% url 'about' %}">About</a></li>
              
              
              <li><a href="{% url 'all_cakes' %}">Available cakes</a></li>
              <li><a href="{% url 'create_cake' %}">Add a new cake</a></li>
              
              
            
              <li><a href="{% url 'contact' %}">Contact</a></li>
              {% if user.is_authenticated %}
                 <li><a href="{% url 'logout' %}">Logout</a></li>
             {% else %}
                 <li><a href="{% url 'login' %}">Login</a></li>
                  <li><a href="{% url 'signup' %}">Signup</a></li>
             {% endif %}
                 
                 <li><a  class="active"  href="{% url 'list_cakes' %}"> Welcome {{user.username}}</a></li>
              
              
              </ul>
              <i class="bi bi-list mobile-nav-toggle"></i>
          </nav>
    </div>
    
  </header>

    {% block content %}
    
    
    {% endblock content %}

 


        






    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>   

  </body>
</html>