<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>cakeBox</title>

    
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
    

  </head>
  <body>

          
      

        <header id="header" class="fixed-top">
              <div class="d-flex align-items-center">
                <h1 class="logo me-auto"><a href="{% url 'list_cakes' %}"></a>Cake Box</h1>

                    <nav id="navbar" class="navbar order-last order-lg-0">
                      <ul>
                      <li><a class="active" href="{% url 'list_cakes' %}">Home</a></li>
                      <li><a href="{% url 'about' %}">About</a></li>
                      
                      <li><a href="{% url 'all_cakes' %}">Available cakes</a></li>
                      <li><a href="{% url 'create_cake' %}">Add a new cake</a></li>
                      
                      
                    
                      <li><a href="{% url 'contact' %}">Contact</a></li>
                      <li><a href="{% url 'signup' %}">SignUp</a></li>
                      <li><a href="{% url 'login' %}">Login</a></li>
                      <li><a href="{% url 'logout' %}">Logout</a></li>
                      <li><a class="active" href="{% url 'list_cakes' %}"> Welcome {{user.username}}</a></li>
                      
                      
                      </ul>
                      <i class="bi bi-list mobile-nav-toggle"></i>
                  </nav>
            </div>
            
          </header>


                  <section id="hero" class="d-flex justify-content-center align-items-center">
                    <div class=" position-relative" data-aos="zoom-in" data-aos-delay="100">
                      <h1>Celebrating Life, <br>One Cake at a Time</h1>
                      <h2>"Indulge in a slice of happiness with every cake from CakeBox - where every bite is a sweet celebration of life!"</h2>
                      <a href="{% url 'contact' %}" class="btn-get-started">Contact Us</a>
                      
                    </div>
                  </section><!-- End Hero -->


          

            
              <div class="list" >

                        
                    <div class= "list-cakes">
                        <h2>List of Cakes</h2>
                        <ul>
                          {% for cake in cakes %}
                                <li><a class="btn" href="{% url 'view_cake' pk=cake.pk %}">{{ cake.name }}</a></li>
                            {% empty %}
                                <li/>
            
                          {% endfor %}
            
                        </ul>
                        <a  class="btn" href="{% url 'create_cake' %}">Add a new cake</a>
                   </div>




              </div>
            

      

       <div>

        <h1 class="text-center">Available cakes</h1>
       </div>



       
 {% for cake in cakes %}
              

 <div class="container">
     
         
     <div class="row mt-3 ">
         
         

         <div class="col-lg-6 col-md-6 d-flex align-items-stretch mt-4 mt-md-5 mx-auto ">

             <div class="course-item ">
                 <img src="{{ cake.image.url }}" alt="{{ cake.name }}" class="img-fluid mr-0" alt="...">
                 <div class="course-content">
                 <div class="d-flex justify-content-between align-items-center mb-3">
                     <h4>{{ cake.name }}</h4>
                     <p class="price ">${{ cake.price }}</p>
                 </div>
 
                 <h3><a href="course-details.html">{{ cake.category }}</a></h3>
                 <p>{{ cake.description }}</p>
                 <div class="trainer d-flex justify-content-between align-items-center">
                     <div class="trainer-profile d-flex align-items-center">

                         {% if cake.availability %}
                         <p>Availability: Available</p>
                         {% else %}
                         <p>Availability: Out of Stock</p>
                     {% endif %}
                 
                     </div>
                     <div>
                         <a class="btn btn-dark" href="{% url 'update_cake' pk=cake.pk %}">Edit</a>
                         <a class="btn btn-dark" href="{% url 'delete_cake' pk=cake.pk %}">Delete</a>
                         <a class="btn btn-dark" href="{% url 'list_cakes' %}">Back to list</a>
                         </p>
                     </div>
                 </div>
                 </div>
             </div>

         
             
     </div>
 
</div>
</div>

{% endfor %}
      





        <script src="{% static 'js/jquery.js' %}"></script>
        <script src="{% static 'js/popper.js' %}"></script>
        <script src="{% static 'js/bootstrap.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>

  </body>
</html>
     

  




  



